* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hidden {
  display: none;
}

.book-cover-thumbnail {
  float: right;
  margin: 5px;
  width: 75px;
}

.book-cover-large {
  float: right;
  margin: 5px;
  width: 300px;
}

#js-book-details {
  max-width: 800px;
}

#js-book-search-results {
  max-width: 800px;
}

#js-book-search-results-list li {
  clear: right;
}