* {
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.book-cover-thumbnail {
  float: left;
  margin: 5px;
  width: 75px;
  height: 100px;
}

.book-cover-large {
  float: right;
  margin: 5px;
}

#js-book-search-results-list li {
  clear: left;
}

form {
  clear: both;
}

.results-page-navigation {
  clear: both;
}